extends layouts/application

block content
	img(src="assets/images/gulp.png",alt="gulp.js")
	include partials/social-icons
	button(id="button") Load Async Module
	button(id="coffee") Drink coffee!
	
	p.no-lower-margin External data: 
	div.small.data
		b Test: 
		span #{data.example.test}
		br
		b Colors: 
		each c in data.example.colors
			span.testcolor(style={"background-color": c.code})= c.name

	h3 Some ractive content follows:
	#ractMain This text should be replaced by RactiveJS

block javascript
	script(src="assets/javascripts/page1.js")

