extends layouts/application

block content
	img(src="assets/images/gulp.png",alt="gulp.js")
	include partials/social-icons
	button(id="button") Load Async Module

block javascript
	script(src="assets/javascripts/page1.js")
