doctype html
html
	head
		meta(charset="utf-8")
		title
			block title
				| Gulp Asset Pipeline
	link(rel="stylesheet" href="assets/stylesheets/global.css")
	block head

body
	h1 GEx Gulp + LESS + Jade + Ractive mix
	block content
		| No content defined

	include ../partials/page-nav
	script(src="assets/javascripts/shared.js")
	block javascript

